In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pathlib import Path
# Enable future behavior warning enforcement
pd.set_option('future.no_silent_downcasting', True)

# Objective: How many glasses, flights, and tastings were sold at both Ferry Market Wine Bar and Unionville Tasting Room
# YTD compared to the same date range in 2024, 2023, 2022, 2021

# Load the exported Unionville Vineyards order history from Shopify e-commerce platform
# orders_export_1 contains order numbers 138209 (6/30/25 21:05) - 112585 (9/7/23 17:48)
# orders_export_2 contains order numbers 112584 (9/7/23 17:10) - 85435 (10/8/21 18:39)
# orders_export_3 contains order numbers 85434 (10/8/21 18:30) - 59033 (2/9/20 18:35)
# orders_export_4 contains order numbers 59032 (2/9/20 18:13) - 30933 (9/15/18 14:14)
# orders_export_5 contains order numbers 30932 (9/15/18 14:04) - #1-1655 (9/28/14 15:47)
# orders_export_6 contains order numbers #1-1654 (9/28/14 15:44) - #1-1001 (5/1/14 16:36)

orders_export_1 = Path('Resources/orders_export_1.csv')
orders_export_2 = Path('Resources/orders_export_2.csv')
orders_export_3 = Path('Resources/orders_export_3.csv')

# Below csv files not needed
# orders_export_4 = Path('Resources/orders_export_4.csv')
# orders_export_5 = Path('Resources/orders_export_5.csv')
# orders_export_6 = Path('Resources/orders_export_6.csv')

In [2]:
# Read in Files to Load
# Used df.info() to see which DataFrame column number Pandas is referring to when giving the mixed dtypes error.

# Used 'dtype' parameter in pd.read_csv. Specify data types when dealing with columns
# containing mixed data, or when we want to optimize memory usage for specific columns.
# In this case, we are dealing with columns of mixed data.

# Columns (27,28,30,33,37,38,40,44,56,66,68,76) have mixed types. Specify dtype option on import or set low_memory=False.
# 27  Billing Address2             133 non-null    object 
# 28  Billing Company              74 non-null     object 
# 30  Billing Zip                  2644 non-null   object 
# 33  Billing Phone                2085 non-null   object 
# 37  Shipping Address2            80 non-null     object 
# 38  Shipping Company             87 non-null     object 
# 40  Shipping Zip                 1819 non-null   object 
# 44  Notes                        45 non-null     object 
# 56  Tags                         1598 non-null   object 
# 66  Tax 4 Name                   3 non-null      object 
# 68  Tax 5 Name                   2 non-null      object 
# 76  Payment Terms Name           60 non-null     object 

a_dtype_dict = {
    'Billing Address2': object,
    'Billing Company': object,
    'Billing Zip': object,
    'Billing Phone': object,
    'Shipping Address2': object,
    'Shipping Company': object,
    'Shipping Zip': object,
    'Notes': object,
    'Tags': object,
    'Tax 4 Name': object,
    'Tax 5 Name': object,
    'Payment Terms Name': object
}
a_df = pd.read_csv(orders_export_1, dtype = a_dtype_dict)

# b_df
# Columns (28,30,37,38,40,44,45,62,64) have mixed types. Specify dtype option on import or set low_memory=False.
# 28  Billing Company              55 non-null     object 
# 30  Billing Zip                  2476 non-null   object 
# 37  Shipping Address2            153 non-null    object 
# 38  Shipping Company             89 non-null     object 
# 40  Shipping Zip                 2056 non-null   object  
# 44  Notes                        88 non-null     object 
# 45  Note Attributes              6 non-null      object 
# 62  Tax 2 Name                   85 non-null     object 
# 64  Tax 3 Name                   51 non-null     object

b_dtype_dict = {
    'Billing Company': object, 
    'Billing Zip': object,
    'Shipping Address2': object,
    'Shipping Company': object,
    'Shipping Zip': object,
    'Notes': object,
    'Note Attributes': object,
    'Tax 2 Name': object,
    'Tax 3 Name': object
}
b_df = pd.read_csv(orders_export_2, dtype = b_dtype_dict)

# c_df
# Columns (45,46) have mixed types. Specify dtype option on import or set low_memory=False.
# 45  Note Attributes              6 non-null      object 
# 46  Cancelled at                 2 non-null      object

c_dtype_dict = {
    'Note Attributes': object,
    'Cancelled at': object
}
c_df = pd.read_csv(orders_export_3, dtype = c_dtype_dict)

# d_df
# Columns (40,45,64) have mixed types. Specify dtype option on import or set low_memory=False.
# 40  Shipping Zip                 2175 non-null   object 
# 45  Note Attributes              94 non-null     object 
# 64  Tax 3 Name                   60 non-null     object

# d_dtype_dict = {
#     'Shipping Zip': object,
#     'Note Attributes': object,
#     'Tax 3 Name': object
# }
# d_df = pd.read_csv(orders_export_4, dtype = d_dtype_dict)

# e_df
# Columns (40,45,46,56,62,64) have mixed types. Specify dtype option on import or set low_memory=False.
# 40  Shipping Zip                 865 non-null    object 
# 45  Note Attributes              2 non-null      object 
# 46  Cancelled at                 4 non-null      object 
# 56  Tags                         404 non-null    object 
# 62  Tax 2 Name                   17 non-null     object 
# 64  Tax 3 Name                   4 non-null      object

# e_dtype_dict = {
#     'Shipping Zip': object,
#     'Note Attributes': object,
#     'Cancelled at': object,
#     'Tags': object,
#     'Tax 2 Name': object,
#     'Tax 3 Name': object
# }
# e_df = pd.read_csv(orders_export_5, dtype = e_dtype_dict)

# f_df = pd.read_csv(orders_export_6)

In [3]:
# a_df.info()
# for i, col in enumerate(a_df.columns):
#     print(f"{i}: {col}")

In [4]:
# Concatenate into single DataFrame

UV_Order_History_df = pd.concat([a_df, b_df, c_df], axis=0)

In [5]:
UV_Order_History_df.to_csv('Output_Files/UV_Order_History_Raw.csv', index=False)

In [6]:
# Count number of columns
print(f"Number of columns: {len(UV_Order_History_df.columns)}")

Number of columns: 79

In [7]:
# Select columns of interest while using the .rename() method to rename column labels
# , 'Tax 3 Name', 'Tax 3 Value', 'Tax 4 Name', 'Tax 4 Value', 'Tax 5 Name', 'Tax 5 Value'

UV_Order_History_df = UV_Order_History_df[
['Name', 'Paid at', 'Fulfilled at',  'Subtotal', 'Shipping', 'Taxes', 'Total',
 'Discount Code', 'Discount Amount', 'Lineitem quantity',
 'Lineitem name', 'Lineitem price', 'Lineitem sku', 'Location',
 'Device ID', 'Lineitem discount', 'Tax 1 Name', 'Tax 1 Value',
 'Tax 2 Name', 'Tax 2 Value']
].rename(columns={
    'Name': 'Order Number', 'Paid at': 'Paid At', 'Fulfilled at': 'Fulfilled At', 'Lineitem quantity': 'Item Qty',
    'Lineitem name': 'Item Name', 'Lineitem price': 'Item Price',
    'Lineitem sku': 'Item SKU', 'Lineitem discount': 'Item Discount'})

UV_Order_History_df

,Order Number,Paid At,Fulfilled At,Subtotal,Shipping,Taxes,Total,Discount Code,Discount Amount,Item Qty,Item Name,Item Price,Item SKU,Location,Device ID,Item Discount,Tax 1 Name,Tax 1 Value,Tax 2 Name,Tax 2 Value
0,#138209,6/30/25 21:05,NaN,49.95,0.0,3.31,53.26,NaN,0.00,1,2022 Sourland Ridge Red,49.95,NaN,NaN,NaN,0.0,New Jersey State Tax 6.625%,3.31,NaN,NaN
1,#138208,6/30/25 16:32,6/30/25 16:32,67.95,0.0,4.50,72.45,NaN,0.00,1,2022 Pheasant Hill Pinot Noir,49.95,NaN,Unionville Vineyards,44.0,0.0,New Jersey State Tax 6.625%,4.50,NaN,NaN
2,#138208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Wine Tastings - NJ Flight / 90 m,18.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,#138207,6/30/25 16:03,6/30/25 16:03,85.41,0.0,5.31,90.72,Wedding,9.49,1,2023 Silver Lining Cabernet Franc,29.95,NaN,Unionville Vineyards,44.0,0.0,New Jersey State Tax 6.625%,5.31,NaN,NaN
4,#138207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022 Estate Blush,19.95,PINK:FOF,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44053,#59034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2017 Pinot Noir,29.95,RED:Pinot Noir 2017,NaN,NaN,0.0,NaN,NaN,NaN,NaN
44054,#59034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Vat #25 Port Wine,33.95,RED:Vat 25,NaN,NaN,0.0,NaN,NaN,NaN,NaN
44055,#59034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2016 MRV Chardonnay,34.95,WH:MR Chardonnay 2016,NaN,NaN,0.0,NaN,NaN,NaN,NaN
44056,#59034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017 Hunterdon Mistral Blanc,26.95,WH:Mistral Blanc 2017,NaN,NaN,0.0,NaN,NaN,NaN,NaN
44057,#59033,2020-02-09 18:35:33 -0500,2020-02-09 18:35:33 -0500,11.00,0.0,0.66,11.66,NaN,0.00,1,Glass of Wine - Glass of Wine- $11,11.00,Glass of Wine-11,Ferry Market,10.0,0.0,PA State Tax 6%,0.66,NaN,NaN

In [8]:
# Recount numbers of columns
# Print number of columns in use, and print in list form
col_to_list = UV_Order_History_df.columns.tolist()

print(f"Number of columns: {len(UV_Order_History_df.columns.tolist())}")
print(col_to_list)

Number of columns: 20
['Order Number', 'Paid At', 'Fulfilled At', 'Subtotal', 'Shipping', 'Taxes', 'Total', 'Discount Code', 'Discount Amount', 'Item Qty', 'Item Name', 'Item Price', 'Item SKU', 'Location', 'Device ID', 'Item Discount', 'Tax 1 Name', 'Tax 1 Value', 'Tax 2 Name', 'Tax 2 Value']

In [9]:
# Count number of rows where 'Location' is NaN
UV_Order_History_df['Location'].isna().sum()
# 54,161 rows where 'Location' is blank

55652

In [ ]:
# Propogate `Location` value across all rows that share the same `Order Number`, so we know for certain which location sold
# which item

# Using both ffill().bfill() ensures that regardless of where the non-null value is within the group (top, middle, or bottom),
# all NaN values in that group will be filled.

UV_Order_History_df['Location'] = UV_Order_History_df.groupby('Order Number')['Location'].transform(lambda x: x.ffill().bfill())
# UV_Order_History_df = UV_Order_History_df.infer_objects(copy=False)

# UV_Order_History_df

In [ ]:
# Recount the number of rows where 'Location' is NaN
UV_Order_History_df['Location'].isna().sum()

In [ ]:
# Sort 'Item Name' column values in alphabetical order
sorted_items = sorted(UV_Order_History_df['Item Name'].unique())

In [ ]:
# Identify all flight related Item Names

flight_items = [item for item in sorted_items if 'flight' in item.lower()]
# verbose version:
# flight_items = []
# for item in sorted_items:
#         if 'flight' in item.lower():
#             flight_items.append(item)

flight_items

In [ ]:
# Identify all glass of wine related Item Names

glass_items = [item for item in sorted_items if 'glass' in item.lower()]
# verbose version:
# glass_items = []
# for item in sorted_items:
#         if 'glass' in item.lower():
#             glass_items.append(item)
glass_items

In [ ]:
# Identify all wine tasting related Item Name

tasting_items = [item for item in sorted_items if 'tasting' in item.lower()]
# verbose version:
# tasting_items = []
# for item in sorted_items:
#         if 'tasting' in item.lower():
#             tasting_items.append(item)
tasting_items

In [ ]:
# Normalize all names to lowercase for consistent comparison
flights_set = set([
    'Wine Tastings - Flight / 90 m',
    'Wine Tastings - NJ Flight / 90 m',
    'wine tastings - PA Flight / 90 m',
])

glasses_set = set([
    'Glass of Wine - Glass of Wine - $14',
    'Glass of Wine - Glass of Wine - $15',
    'Glass of Wine - Glass of Wine - $8',
    'Glass of Wine - Glass of Wine- $10',
    'Glass of Wine - Glass of Wine- $11',
    'Glass of Wine - Glass of Wine- $12',
    'Glass of Wine - Glass of Wine- $9',
    'Glass of Wine - Glass of Wine-$8',
    'Glass of Wine - Glass of Wine-7'
])

tastings_set = set([
    '$10 Reserve Tasting',
    '$5 Tasting',
    '8+ group tasting fee',
    'Additional tastings',
    'Comp Tasting',
    'Group Tasting',
    'Group Tasting Fee',
    'Tasting',
    'Wine Tasting - 90 m',
    'Wine Tasting - 90 minutes',
    'Wine Tastings - BB Tasting / 90m',
    'Wine Tastings - Group Tasting / 90 m',
    'Wine Tastings - PA Tasting',
    'Wine Tastings - PA Tasting / 90 m',
    'Wine Tastings - Tasting $10',
    'Wine Tastings - Tasting / 90 m',
    ])

In [ ]:
# Handles non-string items by converting everything to str first.
# Useful if tastings_set contained non-str types.

flights_set = set(map(lambda x: str(x).strip().lower(), flights_set))
glasses_set = set(map(lambda x: str(x).strip().lower(), glasses_set))
tastings_set = set(map(lambda x: str(x).strip().lower(), tastings_set))

# Alternate approach if we know all items are strings
# flights_set = {s.lower().strip() for s in flights_set}
# glasses_set = {s.lower().strip() for s in glasses_set}
# tastings_set = {s.lower().strip() for s in tastings_set}

In [ ]:
flights_set

In [ ]:
glasses_set

In [ ]:
tastings_set

In [ ]:
# Normalize 'Item Name' using .strip().lower() and check if it's in one of the sets
import numpy as np
def categorize_item(name):
    name_normalized = str(name).strip().lower()
    if name_normalized in flights_set:
        return 'Flight'
    elif name_normalized in glasses_set:
        return 'Glass'
    elif name_normalized in tastings_set:
        return 'Tasting'
    else:
        return np.nan
        
UV_Order_History_df['Item Category'] = UV_Order_History_df['Item Name'].apply(categorize_item)

In [ ]:
# Redefine the DataFrame with the added 'Item Category' column
UV_Order_History_df = UV_Order_History_df[[
    'Order Number', 'Paid At', 'Fulfilled At', 'Subtotal', 'Shipping', 'Taxes', 'Total', 'Discount Code',
    'Discount Amount', 'Item Qty', 'Item Name', 'Item Category', 'Item Price', 'Item SKU', 'Location',
    'Device ID', 'Item Discount', 'Tax 1 Name', 'Tax 1 Value', 'Tax 2 Name', 'Tax 2 Value']]
UV_Order_History_df

In [ ]:
#Check that rows correctly populate for Item Category of 'Flight'
UV_Order_History_df.loc[(UV_Order_History_df['Item Category'] == 'Flight')]

In [ ]:
#Check that rows correctly populate for Item Category of 'Tasting'
UV_Order_History_df.loc[(UV_Order_History_df['Item Category'] == 'Tasting')]

In [ ]:
# UV_Order_History_df.to_csv('Output_Files/Function_Categorize_Item_Applied.csv', index=False)

In [ ]:
# Check for how many wine flights sold but Location column might still be blank

flights_blank_location = UV_Order_History_df.loc[
    (UV_Order_History_df['Location'].isna()) &
    (UV_Order_History_df['Item Name'].str.lower().str.strip().isin(flights_set))]
flights_blank_location

In [ ]:
# Check for how many glasses of wine sold but Location column might still be blank

glasses_blank_location = UV_Order_History_df.loc[
    (UV_Order_History_df['Location'].isna()) &
    (UV_Order_History_df['Item Name'].str.lower().str.strip().isin(glasses_set))]
glasses_blank_location

In [ ]:
# Check for how many wine tastings were sold but the location column is still blank

tastings_blank_location = UV_Order_History_df.loc[
    (UV_Order_History_df['Location'].isna()) &
    (UV_Order_History_df['Item Name'].str.lower().str.strip().isin(tastings_set))]
tastings_blank_location

In [ ]:
# Get the effective number of rows from above cell by retrieving the .shape attribute 
count = UV_Order_History_df.loc[
    (UV_Order_History_df['Location'].isna()) &
    (UV_Order_History_df['Item Name'].str.lower().str.strip().isin(tastings_set))].shape[0]

print(f"Number of rows: {count}")

In [ ]:
# Sort 'Tax 1 Name' column in alphabetical order
# Since NaN values are present, sorted() will raise an error "TypeError: '<' not supported between instances of 'float' and 'str'"
# Therefore, include 'if' statement to handle NaN values

Tax1Name_sorted = sorted(
    [x for x in UV_Order_History_df['Tax 1 Name'].unique() if pd.notna(x)]
)
Tax1Name_sorted

In [ ]:
# For Locations still blank, we can gather where the sale occurred based on the sales tax collected

# Create filter masks (boolean values of True or False aligned with the rows in our DataFrame,
# used to identify which rows meet a certain criteria)
glasses_mask = (
    UV_Order_History_df['Location'].isna() &
    UV_Order_History_df['Item Name'].str.lower().str.strip().isin(glasses_set)
)

tastings_mask = (
    UV_Order_History_df['Location'].isna() &
    UV_Order_History_df['Item Name'].str.lower().str.strip().isin(tastings_set)
)

tax_to_location_map = {
    'NJ State Tax 6.625%': 'Unionville Vineyards',
    'NJ State Tax 6.63%': 'Unionville Vineyards',
    'New Jersey State Tax 6.625%': 'Unionville Vineyards',
    'PA State Tax 6%': 'Ferry Market',
    'Pennsylvania State Tax 6%': 'Ferry Market'
}

# Below, we're saying: For all row locations where a condition (mask) is True, set the 'Location' value
# using a mapping based on the value we see in 'Tax 1 Name' within these same exact rows (where same condition (mask) is True.
# Finally, for all row locations matching this condition where 'Tax 1 Name' was blank (NaN),
# fill its 'Location' cell value with 'Unionville Vineyards'


# Apply the mapping for wine glasses rows based on 'Tax 1 Name'
UV_Order_History_df.loc[glasses_mask, 'Location'] = (
    UV_Order_History_df.loc[glasses_mask, 'Tax 1 Name']
    .map(tax_to_location_map).fillna('Unionville Vineyards')
)

# Apply the mapping for wine tastings rows based on 'Tax 1 Name'
UV_Order_History_df.loc[tastings_mask, 'Location'] = (
    UV_Order_History_df.loc[tastings_mask, 'Tax 1 Name']
    .map(tax_to_location_map).fillna('Unionville Vineyards')
)

In [ ]:
# Check if any 'wine tastings' rows did not have 'Location' filled. The expectation is for no rows to populate.

UV_Order_History_df.loc[tastings_mask & UV_Order_History_df['Location'].isna()]

In [ ]:
# Confirm if any 'wine glasses' rows that did not have 'Location' filled. The expectation is for no rows to populate.

UV_Order_History_df.loc[glasses_mask & UV_Order_History_df['Location'].isna()]

In [ ]:
# Get value counts on 'Location' column
UV_Order_History_df['Location'].value_counts()

In [ ]:
# Reassign 'Tasting Room' Location to be 'Unionville Vineyards'

UV_Order_History_df.loc[
    UV_Order_History_df['Location'].str.lower() == 'tasting room',
    'Location'
] = 'Unionville Vineyards'

In [ ]:
# Confirm all 3,528 value counts for 'Tasting Room' are now reflected in 'Unionville Vineyards'
UV_Order_History_df['Location'].value_counts()

In [ ]:
# NOTE: Was previously seeing 'SettingWithCopyWarning:
    # "A value is trying to be set on a copy of a slice from a DataFrame.
    # Try using .loc[row_indexer,col_indexer] = value instead'

# When creating a view(slice) of the original UV_Order_History_df...
    # When modifying a column in-place (UV_Order_History_df['Paid At'] = ...),
    # pandas warns that the assignment might not affect the original DataFrame in a predictable way.
    # Therefore, make an explicit copy of the DataFrame when slicing

# Redefine UV_Order_History_df to include rows for only Ferry Market, and Unionville Vineyards Tasting Room
relevant_locations = ['Ferry Market', 'Unionville Vineyards']
UV_Order_History_df = UV_Order_History_df.loc[UV_Order_History_df['Location'].isin(relevant_locations)].copy()
UV_Order_History_df

In [ ]:
UV_Order_History_df.to_csv('Output_Files/Relevant_Locations.csv', index=False)

# Begin Datetime Code Transformation

In [ ]:
UV_Order_History_df['Paid At'].isna().sum()

In [ ]:
# Ensure 'Paid At' column includes dates for all rows, otherwise many Item Categories will be missed in future
# aggregations

# Step 1: Replace blank or missing 'Paid At' with 'Fulfilled At' (only where 'Paid At' is missing)
UV_Order_History_df['Paid At'] = UV_Order_History_df['Paid At'].fillna(UV_Order_History_df['Fulfilled At'])

In [ ]:
UV_Order_History_df['Paid At'].isna().sum()

In [ ]:
# Step 2: Forward-fill and back-fill 'Paid At' within each 'Order Number' group
UV_Order_History_df['Paid At'] = UV_Order_History_df.groupby('Order Number')['Paid At'].transform(lambda x: x.ffill().bfill())

In [ ]:
UV_Order_History_df['Paid At'].isna().sum()

In [ ]:
UV_Order_History_df.loc[UV_Order_History_df['Paid At'].isna()]
[['Order Number', 'Paid At', 'Item Qty', 'Item Category', 'Location', 'Tax 1 Name']]

In [ ]:
# Fill missing 'Paid At' cell values based on the date of an Order Number date before/after it

import numpy as np
filled_dates = UV_Order_History_df['Paid At'].ffill().bfill()

# np.where(condition, value_if_true, value_if_false)
UV_Order_History_df['Paid At'] = np.where(
    UV_Order_History_df['Paid At'].isna(),
    filled_dates,
    UV_Order_History_df['Paid At']
)

In [ ]:
UV_Order_History_df[UV_Order_History_df['Order Number'] == '#119527']

In [ ]:
# Check how 'Paid At' column values print for row index 0:11, column index 0:3
UV_Order_History_df.iloc[0:10,0:3]

In [ ]:
UV_Order_History_df.loc[UV_Order_History_df['Paid At'].isna()]

In [ ]:
# Check the dtype of 'Paid At' column to see whether it is already datetime type
print(f"Datatype: {UV_Order_History_df['Paid At'].dtype}")

In [ ]:
# View datetime string format for parsing to datetime format
UV_Order_History_df.head(5)

In [ ]:
# View datetime string format for parsing to datetime format
UV_Order_History_df.tail(5)

##### 'Paid At' column contains multiple datetime formats, requiring handling formats conditionally:
###### 1. Detect the format of each row.
###### 2. Parse them accordingly
###### 3. Combine results into one cleaned datetime column

In [ ]:
UV_Order_History_df.iloc[0,1]

In [ ]:
# Identify and normalize all datetime strings with string format '%Y-%m-%d %H:%M:%S %z'
# Some datetime strings are of format '%m/%d/%y %H:%M' where others are already '%Y-%m-%d %H:%M:%S %z'

# Step 1: Make a working copy
col = UV_Order_History_df['Paid At'].astype(str)

# Step 2: Create masks for each format
mask_mdy = col.str.match(
    r'^\d{1,2}/\d{1,2}/\d{2} \d{1,2}:\d{2}$') # '6/30/25 16:32'
mask_ymd_tz = col.str.match(
    r'^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2} [+-]\d{4}$') # 2020-02-09 18:35:33 -0500

# Step 3: Parse short format ('6/30/25 16:32'), localize, convert to UTC
parsed_short = pd.to_datetime(
    col[mask_mdy],
    format='%m/%d/%y %H:%M',
    errors='coerce'
).dt.tz_localize('America/New_York').dt.tz_convert('UTC')

# Step 4: Parse long format directly (has timezone info)
parsed_long = pd.to_datetime(
    col[mask_ymd_tz],
    errors='coerce',
utc=True
).dt.tz_convert('UTC')

# Condensed below into one line in Step 4
# parsed_long_raw = pd.to_datetime(
#     col[mask_ymd_tz],
#     errors='coerce',
# utc=True
# )
# parsed_long = parsed_long_raw.dt.tz_convert('UTC')

# Step 5: Empty Series to store unified result
combined = pd.Series(index=col.index, dtype='datetime64[ns, UTC]')

# Step 6: Combine results
combined.loc[mask_mdy] = parsed_short
combined.loc[mask_ymd_tz] = parsed_long

# Step 7: Assign to DataFrame
UV_Order_History_df['Paid At'] = combined

In [ ]:
print(parsed_short.dt.tz)

In [ ]:
print(parsed_long.dt.tz)

In [ ]:
print(f"Datatype: {UV_Order_History_df['Paid At'].dtype}")

In [ ]:
# See how the 'Paid At' column value prints out once again at row 0, column 1
# Changed from '2'6/30/25 16:32 to ' Timestamp('2025-06-30 20:32:00+0000', tz='UTC' '
UV_Order_History_df.iloc[0,1]

In [ ]:
# Split 'Paid At' column into Year, Date, and Time columns
UV_Order_History_df['Year'] = UV_Order_History_df['Paid At'].dt.year.astype('Int64')
UV_Order_History_df['Date'] = UV_Order_History_df['Paid At'].dt.date
UV_Order_History_df['Time'] = UV_Order_History_df['Paid At'].dt.time

In [ ]:
# Redefine df to include Year, Date, and Time columns
UV_Order_History_df = UV_Order_History_df[
['Order Number', 'Paid At', 'Fulfilled At', 'Year', 'Date', 'Time', 'Subtotal', 'Shipping',
 'Taxes', 'Total', 'Discount Code', 'Discount Amount', 'Item Qty', 'Item Name',
 'Item Category', 'Item Price', 'Item SKU', 'Location', 'Device ID',
 'Item Discount', 'Tax 1 Name', 'Tax 1 Value', 'Tax 2 Name','Tax 2 Value']
]
UV_Order_History_df.head()

In [ ]:
print(f"Datatype: {UV_Order_History_df['Year'].dtype}")
print(f"Datatype: {UV_Order_History_df['Date'].dtype}")
print(f"Datatype: {UV_Order_History_df['Time'].dtype}")

In [ ]:
# Define today's date outside of function
today = pd.to_datetime('today').normalize()
today

In [ ]:
def filter_ytd_for_year(df, year):
    df = df.copy()
    df['Paid At'] = pd.to_datetime(df['Paid At'], errors = 'coerce', utc = True)
    start = pd.Timestamp(year, 1, 1, tz = 'UTC')
    end = pd.Timestamp(year, today.month, today.day, tz = 'UTC')
    return df.loc[(df['Paid At'] >= start) & (df['Paid At'] <= end)]

In [ ]:
# Optional use function with Manual End Date input.
# end_date_str must be in a parseable format (like 'YYYY-MM-DD').


# def filter_ytd_for_year(df, year, end_date_str):
#     df = df.copy()
#     df['Paid At'] = pd.to_datetime(df['Paid At'], errors='coerce', utc=True)
    
#     start = pd.Timestamp(year, 1, 1, tz='UTC')
#     end = pd.to_datetime(end_date_str).tz_localize('UTC')
    
#     return df.loc[(df['Paid At'] >= start) & (df['Paid At'] <= end)]

In [ ]:
# First row of the 'Paid At' column should show <class 'pandas._libs.tslibs.timestamps.Timestamp'>
print(type(UV_Order_History_df['Paid At'].iloc[0]))

In [ ]:
# Each of these df_20xx DataFrames will only contain rows 
# where the 'Paid At' date is between January 1 and 'today's' month/day of that year.
# THIS IS IMPORTANT. You will NOT be seeing total quantities sold for the entire respective year.

df_2025 = filter_ytd_for_year(UV_Order_History_df, 2025)
df_2024 = filter_ytd_for_year(UV_Order_History_df, 2024)
df_2023 = filter_ytd_for_year(UV_Order_History_df, 2023)
df_2022 = filter_ytd_for_year(UV_Order_History_df, 2022)
df_2021 = filter_ytd_for_year(UV_Order_History_df, 2021)

In [ ]:
def filter_and_tag_year(df, year):
    ytd = filter_ytd_for_year(df, year)
    ytd['Year'] = year
    return ytd

In [ ]:
# This gets a DataFrame comparing all our target years, specifically of the 

df_all_years = pd.concat([
    filter_and_tag_year(UV_Order_History_df, y) for y in[2025, 2024, 2023, 2022, 2021]
])
df_all_years

In [ ]:
sales_summary_df = (
    df_all_years.groupby(['Year', 'Location', 'Item Category'])
    .agg({
    'Item Qty': 'sum',
    'Total': 'sum'
    })
    .reset_index()
    .sort_values(by=['Year', 'Location', 'Item Category'], ascending = [False, False, True])
)
sales_summary_df

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
pivot_1 = sales_summary_df.pivot_table(
    index='Item Category',
    columns='Year',
    values='Total',
    aggfunc='sum',
    fill_value=0
)
pivot_1

In [ ]:
# Plot YTD Sales by Item Category by Year, Locations Combined
pivot_1.plot(kind='bar', figsize=(10, 6))
plt.title('YTD Sales by Item Category and Year (Locations Combined)')
plt.xlabel('Item Category')
plt.ylabel('Total Sales')
plt.xticks(rotation=45)
plt.legend(title='Year')
plt.tight_layout()
plt.show()

In [ ]:
# Plot YTD Sales by Item Category and Year per Location
locations = sales_summary_df['Location'].unique()

for location in locations:
    location_df = sales_summary_df.loc[sales_summary_df['Location'] == location]
    print(location_df)
    pivot_2 = location_df.pivot_table(
        index='Item Category',
        columns='Year',
        values='Total',
        aggfunc='sum',
        fill_value=0
)

    pivot_2.plot(kind='bar', figsize=(10, 6))
    plt.title(f'YTD Sales by Item Category and Year - {location}')
    plt.xlabel('Item Category')
    plt.ylabel('YTD Sales')
    plt.xticks(rotation=45)
    plt.legend(title='Year')
    plt.tight_layout()
    plt.show()

In [ ]:
pivot_3 = sales_summary_df.pivot_table(
    index='Item Category',
    columns='Year',
    values='Item Qty',
    aggfunc='sum',
    fill_value=0
)
pivot_3

In [ ]:
# Plot YTD Quantities Sold by Item Category and Year, Locations Combined
pivot_3.plot(kind='bar', figsize=(10, 6))
plt.title('YTD Quantities Sold by Item Category and Year (Locations Combined)')
plt.xlabel('Item Category')
plt.ylabel('Quantity')
plt.xticks(rotation=45)
plt.legend(title='Year')
plt.tight_layout()
plt.show()

In [ ]:
# Plot YTD Quantities Sold by Item Category and Year per Location

locations = sales_summary_df['Location'].unique()

for location in locations:
    location_df = sales_summary_df.loc[sales_summary_df['Location'] == location]
    print(location_df)
    pivot_4 = location_df.pivot_table(
        index='Item Category',
        columns='Year',
        values='Item Qty',
        aggfunc='sum',
        fill_value=0
)

    pivot_4.plot(kind='bar', figsize=(10, 6))
    plt.title(f'YTD Quantities Sold by Item Category and Year - {location}')
    plt.xlabel('Item Category')
    plt.ylabel('Quantity')
    plt.xticks(rotation=45)
    plt.legend(title='Year')
    plt.tight_layout()
    plt.show()